<div class="card-plain">
  <div class="header">
    <h5>Forgot Password?</h5>
    <span>Enter your e-mail address below to reset your password.</span>
  </div>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div [class]="!errors.email ? 'input-group ' : 'input-group has-danger'">
      <input
        type="text"
        placeholder="Enter Email"
        [class]="
          !errors.email ? 'form-control ' : 'form-control form-control-danger'
        "
      />
      <span *ngIf="!errors.email" class="input-group-addon"
        ><i class="zmdi zmdi-email"></i
      ></span>
    </div>
    <label for="terms" class="text-primary" *ngIf="errors.email">
      {{ errors.email }}
    </label>
    
    <div class="footer">
      <a href="javascript:void(0)" class="btn btn-primary btn-round btn-block"
        >SUBMIT</a
      >
    </div>
  </form>
  <app-help-link></app-help-link>
</div>
