<div
role="tabpanel"
class="tab-pane page-calendar active"
id="schedule"
>
<div class="row">
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="body m-b-20">
        <div class="event-name b-lightred row">
          <div class="col-3 text-center">
            <h4>09<span>Dec</span><span>2017</span></h4>
          </div>
          <div class="col-9">
            <h6>Repeating Event</h6>
            <p>
              It is a long established fact that a reader will be
              distracted
            </p>
            <address>
              <i class="zmdi zmdi-pin"></i> 123 6th St. Melbourne,
              FL 32904
            </address>
          </div>
        </div>
        <hr />
        <div class="event-name b-greensea row">
          <div class="col-3 text-center">
            <h4>16<span>Dec</span><span>2017</span></h4>
          </div>
          <div class="col-9">
            <h6>Repeating Event</h6>
            <p>
              It is a long established fact that a reader will be
              distracted
            </p>
            <address>
              <i class="zmdi zmdi-pin"></i> 123 6th St. Melbourne,
              FL 32904
            </address>
          </div>
        </div>
      </div>
      <div class="body m-b-20 l-blue">
        <div class="event-name row">
          <div class="col-3 text-center">
            <h4>28<span>Dec</span><span>2017</span></h4>
          </div>
          <div class="col-9">
            <h6>Google</h6>
            <p>
              It is a long established fact that a reader will be
              distracted
            </p>
            <address>
              <i class="zmdi zmdi-pin"></i> 123 6th St. Melbourne,
              FL 32904
            </address>
          </div>
        </div>
      </div>
      <div class="body m-b-5 l-green">
        <div class="event-name row">
          <div class="col-3 text-center">
            <h4>13<span>Dec</span><span>2017</span></h4>
          </div>
          <div class="col-9">
            <h6>Birthday</h6>
            <p>
              It is a long established fact that a reader will be
              distracted
            </p>
            <address>
              <i class="zmdi zmdi-pin"></i> 123 6th St. Melbourne,
              FL 32904
            </address>
          </div>
        </div>
      </div>
      <div class="body l-green">
        <div class="event-name row">
          <div class="col-3 text-center">
            <h4>11<span>Dec</span><span>2017</span></h4>
          </div>
          <div class="col-9">
            <h6>Conference</h6>
            <p>
              It is a long established fact that a reader will be
              distracted
            </p>
            <address>
              <i class="zmdi zmdi-pin"></i> 123 6th St. Melbourne,
              FL 32904
            </address>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-round btn-primary m-t-15"
        data-toggle="modal"
        data-target="#addevent"
      >
        Add Events
      </button>
    </div>
  </div>
  <div class="col-md-12 col-lg-8">
    <div class="card">
      <div class="body">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>
</div>
