<time class="cbp_tmtime" datetime="2017-10-22T12:13"
  ><span>12:13 PM</span> <span>Two weeks ago</span></time
>
<div class="cbp_tmicon bg-orange"><i class="zmdi zmdi-camera"></i></div>
<div class="cbp_tmlabel">
  <h2>
    <a href="javascript:void(0);">Eroll Maxhuni</a> <span>uploaded</span> 4
    <span>new photos to album</span>
    <a href="javascript:void(0);">Summer Trip</a>
  </h2>
  <blockquote>
    Pianoforte principles our unaffected not for astonished travelling are
    particular.
  </blockquote>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-6">
      <a href="javascript:void(0);"
        ><img
          src="assets/images/image1.jpg"
          alt=""
          class="img-fluid img-thumbnail m-t-30"
      /></a>
    </div>
    <div class="col-lg-3 col-md-6 col-6">
      <a href="javascript:void(0);">
        <img
          src="assets/images/image2.jpg"
          alt=""
          class="img-fluid img-thumbnail m-t-30"
      /></a>
    </div>
    <div class="col-lg-3 col-md-6 col-6">
      <a href="javascript:void(0);">
        <img
          src="assets/images/image3.jpg"
          alt=""
          class="img-fluid img-thumbnail m-t-30"
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-6">
      <a href="javascript:void(0);">
        <img
          src="assets/images/image4.jpg"
          alt=""
          class="img-fluid img-thumbnail m-t-30"
        />
      </a>
    </div>
  </div>
</div>
