<div class="card-plain">
  <div class="header">
    <h5>Our site is getting a little tune up and some love.</h5>
  </div>
  <form class="form">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search..." />
      <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
    </div>
  </form>
  <div class="footer">
    <a href="index.html" class="btn btn-primary btn-round btn-block"
      >GO TO HOMEPAGE</a
    >
  </div>
  <a href="javascript:void(0);" class="link">Need Help?</a>
</div>
