<section class="content contact">
  <div class="theme-black">
    <div class="coming">
      <div class="container">
        <div class="col-md-12 content-center" style="left: 45%">
          <div class="row" style="background-color: #313740 !important">
            <div class="col-lg-6 col-md-12">
              <div class="company_detail">
                <h4 class="logo">
                  <img src="assets/images/logo.png" alt="" /> Access Aligner
                </h4>
                <h3>Coming Soon!</h3>
                <p>
                  This feature is still in development and will be available
                  soon.
                </p>
                <div class="footer">
                  <ul class="social_link list-unstyled">
                    <li>
                      <a href="https://thememakker.com" title="ThemeMakker"
                        ><i class="zmdi zmdi-globe"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://themeforest.net/user/thememakker"
                        title="Themeforest"
                        ><i class="zmdi zmdi-shield-check"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/company/thememakker/"
                        title="LinkedIn"
                        ><i class="zmdi zmdi-linkedin"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.facebook.com/thememakkerteam"
                        title="Facebook"
                        ><i class="zmdi zmdi-facebook"></i
                      ></a>
                    </li>
                    <li>
                      <a href="http://twitter.com/thememakker" title="Twitter"
                        ><i class="zmdi zmdi-twitter"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href="http://plus.google.com/+thememakker"
                        title="Google plus"
                        ><i class="zmdi zmdi-google-plus"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://www.behance.net/thememakker"
                        title="Behance"
                        ><i class="zmdi zmdi-behance"></i
                      ></a>
                    </li>
                  </ul>
                  <hr />
                  <ul>
                    <li>
                      <a href="http://thememakker.com/contact/" target="_blank"
                        >Contact Us</a
                      >
                    </li>
                    <li>
                      <a href="http://thememakker.com/about/" target="_blank"
                        >About Us</a
                      >
                    </li>
                    <li>
                      <a href="http://thememakker.com/services/" target="_blank"
                        >Services</a
                      >
                    </li>
                    <li><a href="javascript:void(0);">FAQ</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 offset-lg-1">
              <div class="card-plain">
                <div class="header">
                  <h5>Coming Soon</h5>
                  <span>Comming Soon Feature!</span>
                </div>
                <img
                  src="assets/images/coming_soon.png"
                  style="max-width: 70%"
                />
                <div class="footer"></div>
                <a href="javascript:void(0);" class="link">Soon ...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
