<div class="card-plain">
  <div class="header">
    <h5>Update Password?</h5>
    <span>Enter your old and new password below to update your password.</span>
  </div>
  <form class="form" [formGroup]="updateForm" (ngSubmit)="onSubmit($event)">
    <div [class]="!errors.password ? 'input-group' : 'input-group has-danger'">
      <input
        [type]="showOldPassword ? 'text' : 'password'"
        [class]="
          !errors.password ? 'form-control' : 'form-control form-control-danger'
        "
        placeholder="Enter your old Password"
      />
      <span class="input-group-addon" *ngIf="!errors.password">
        <ng-container *ngIf="!showOldPassword; else elseTemplate">
          <i
            type="button"
            class="zmdi zmdi-lock-outline"
            (click)="showOldPassword = !showOldPassword"
          ></i>
        </ng-container>
        <ng-template #elseTemplate>
          <i
            type="button"
            class="zmdi zmdi-lock-open"
            style="color: #f96332"
            (click)="showOldPassword = !showOldPassword"
          ></i>
        </ng-template>
      </span>
    </div>
    <label
      *ngIf="errors.oldPassword !== undefined"
      for="terms"
      class="text-primary"
    >
      {{ errors.oldPassword }}</label
    >

    <div [class]="!errors.password ? 'input-group' : 'input-group has-danger'">
      <input
        [type]="showNewPassword ? 'text' : 'password'"
        [class]="
          !errors.password ? 'form-control' : 'form-control form-control-danger'
        "
        placeholder="Enter your new Password"
      />
      <span class="input-group-addon" *ngIf="!errors.password">
        <ng-container *ngIf="!showNewPassword; else elseTemplate">
          <i
            type="button"
            class="zmdi zmdi-lock-outline"
            (click)="showNewPassword = !showNewPassword"
          ></i>
        </ng-container>
        <ng-template #elseTemplate>
          <i
            type="button"
            class="zmdi zmdi-lock-open"
            style="color: #f96332"
            (click)="showNewPassword = !showNewPassword"
          ></i>
        </ng-template>
      </span>
    </div>
    <label
      *ngIf="errors.newPassword !== undefined"
      for="terms"
      class="text-primary"
    >
      {{ errors.newPassword }}</label
    >
    <div class="footer">
      <a href="/" class="btn btn-primary btn-round btn-block">SUBMIT</a>
    </div>
  </form>

  <app-help-link></app-help-link>
</div>
