<div class="card-plain">
    <div class="header">                            
        <h5 i18n>Error 500</h5>
        <span i18n>Something's broken :-(</span>
    </div>
    <form class="form">                            
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your search term...">
            <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
        </div>
    </form>
    <app-back-home></app-back-home>
    <app-help-link></app-help-link>
   </div>