<div class="footer">
  <ul class="social_link list-unstyled">
    <li>
      <a target="_blank" [href]="domain" title="Access Aligner"
        ><i class="zmdi zmdi-globe"></i
      ></a>
    </li>
    <li>
      <a target="_blank" [href]="domain" title="Themeforest"
        ><i class="zmdi zmdi-shield-check"></i
      ></a>
    </li>
    <!-- social links  -->
    <li *ngFor="let item of links">
      <a target="_blank" [href]="item.link" [title]="item.socialMedia"
        ><i [class]="item.icone"></i
      ></a>
    </li>
    <li>
      <a
        target="_blank"
        href="mailto: contact@accessaligner.com"
        title="Google plus"
        ><i class="zmdi zmdi-google-plus"></i
      ></a>
    </li>
  </ul>
  <hr />
  <ul>
    <li><a target="_blank" [href]="domain + '/#contact'" i18n>Contact Us</a></li>
    <li><a target="_blank" [href]="domain + '/#about'" i18n>About Us</a></li>
    <li><a target="_blank" [href]="domain + '/#howorks'" i18n>Services</a></li>
    <li><a target="_blank" [href]="domain + '/#contact'" i18n>FAQ</a></li>
  </ul>
</div>
