<div class="row clearfix">
  <div class="col-lg-8 col-md-12">
    <!--    <div class="card">
      <div class="body m-b-10 bg-dark">
        <div class="row">
          <div class="col-6">
            <small>Total Earning</small>
            <h4 class="text-success m-b-0 m-t-0">$7,171</h4>
            <h6 class="m-b-0 m-t-0">March 2018</h6>
          </div>
          <div class="col-6 text-right">
            <div
              class="sparkline m-t-10"
              data-type="bar"
              data-width="97%"
              data-height="50px"
              data-bar-Width="2"
              data-bar-Spacing="7"
              data-bar-Color="#18ce0f "
            >
              2,5,6,3,4,5,5,6,2,1
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <h2><strong>Treatments</strong> Report</h2>
        <ul class="header-dropdown">
          <li class="dropdown">
            <a
              href="javascript:void(0);"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="zmdi zmdi-more"></i>
            </a>
            <ul class="dropdown-menu slideUp">
              <li><a href="javascript:void(0);">Action</a></li>
              <li><a href="javascript:void(0);">Another action</a></li>
              <li><a href="javascript:void(0);">Something else</a></li>
              <li><a role="button" class="boxs-close">Delete</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="body">
        <div class="table-responsive earning-report">
          <table class="table m-b-0 table-hover">
            <thead>
              <tr>
                <th colspan="2">User Name</th>
                <th>Priority</th>
                <th>Earnings</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 60px">
                  <span class="rounded"
                    ><img
                      src="assets/images/xs/avatar1.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>John Smith</h6>
                  <small class="text-muted">UI UX Designer</small>
                </td>
                <td><span class="badge badge-success">Low</span></td>
                <td>$1.9K</td>
              </tr>
              <tr class="active">
                <td>
                  <span class="rounded"
                    ><img
                      src="assets/images/xs/avatar2.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Hossein Shams</h6>
                  <small class="text-muted">Project Manager</small>
                </td>
                <td><span class="badge badge-info">Medium</span></td>
                <td>$2.9K</td>
              </tr>
              <tr>
                <td>
                  <span class="round round-success"
                    ><img
                      src="assets/images/xs/avatar3.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Maryam Amiri</h6>
                  <small class="text-muted">Angular Developer</small>
                </td>
                <td><span class="badge badge-primary">High</span></td>
                <td>$32.9K</td>
              </tr>
              <tr>
                <td>
                  <span class="round round-primary"
                    ><img
                      src="assets/images/xs/avatar4.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Tim Hank</h6>
                  <small class="text-muted">Frontend</small>
                </td>
                <td><span class="badge badge-danger">Low</span></td>
                <td>$11.9K</td>
              </tr>
              <tr>
                <td>
                  <span class="round round-warning"
                    ><img
                      src="assets/images/xs/avatar5.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Fidel Tonn</h6>
                  <small class="text-muted">Content Writer</small>
                </td>
                <td><span class="badge badge-warning">High</span></td>
                <td>$2.5K</td>
              </tr>
              <tr>
                <td>
                  <span class="round round-danger"
                    ><img
                      src="assets/images/xs/avatar6.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Frank Camly</h6>
                  <small class="text-muted">Graphic Design</small>
                </td>
                <td><span class="badge badge-info">High</span></td>
                <td>$12.7K</td>
              </tr>
              <tr>
                <td>
                  <span class="round round-primary"
                    ><img
                      src="assets/images/xs/avatar4.jpg"
                      alt="user"
                      width="50"
                  /></span>
                </td>
                <td>
                  <h6>Tim Hank</h6>
                  <small class="text-muted">Frontend</small>
                </td>
                <td><span class="badge badge-danger">Low</span></td>
                <td>$11.9K</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
  <div class="col-lg-4 col-md-12">
    <app-patient-infos></app-patient-infos>
  </div>
</div>
